.mainContainer {
    background-color: #F6F7F8;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.cardTitleH1 {
    font-size: 47px;
    position: sticky;
    font-weight: 700;
    gap: 1px;
    padding-left: 16px;
    padding-top: 48px;
    display: flex;
    top: 80px;
    background-color: #F6F7F8;
}

.labelSection {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}

.requiredStar {
    color: #FF8190;
}

.inputFieldAddTask {
    height: 40px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: 1px;
    padding: 10px 21px;
    border-color: #D1D1D1;
    gap: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
}

::placeholder {
    color: #D1D1D1;
}

.positionStickyOnTop {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: white;
}



.createTaskBtn {
    background-color: #2a3647;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    color: #ffffff;
    border: none;
}

.primaryBtn {
    height: 56px;
    width: 183px;
    font-weight: 700;
    font-size: 21px;
}

.requiredText {
    display: flex;
}

.inputFieldAddTaskDescrition::placeholder {
    position: absolute;
    top: 18px;
    left: 21px;
}

.inputFieldAddTaskDescrition {
    height: 88px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: 1px;
    padding: 10px 21px;
    border-color: #D1D1D1;
    gap: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.contactSelector {
    appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url('../img/Mobile/AddTask/arrowDropDownAddTask.png') no-repeat right center;
    background-position: calc(100% - 15px) center;
    background-color: white;
    height: 40px;
    width: 100%;
    display: flex;
    border-radius: 10px;
    border: 1px;
    padding: 10px 21px;
    border-color: #D1D1D1;
    gap: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
}

.dueDateLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px;
    gap: 10px;
    border-color: #D1D1D1;
    background-color: rgb(193, 40, 40);
    margin-top: 8px;
    margin-bottom: 32px;
}

.dueDateLabel input {
    border: none;
    outline: none;
    width: 100%;
}

.inputFieldDueDate {
    height: 40px;
    width: 100%;
    display: flex;
    padding: 10px 21px;
    border-color: #D1D1D1;
    gap: 10px;
}

.addTaskBtnContainer{
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 80px;
    justify-content: space-between;
    padding: 16px;
    background-color: #F6F7F8;
}

.addTaskForm{
    height: calc(100vh - 160px - 103px - 88px);
    overflow: auto;
  }

