.addTaskHeadline {
  font-size: 48px;
  margin-top: 48px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0 16px;
  background-color: #f6f7f8;
}

.required {
  color: #ff8190;
}

.addTaskInput {
  padding: 10px 21px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  outline: none;
  width: 100%;
}

.addTaskInput::placeholder {
  color: #d1d1d1;
}

.addTaskForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.addTaskLabel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.addTaskDescription {
  resize: none;
}

.addTaskInputIconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.dropdownIcon {
  cursor: pointer;
  position: absolute;
  right: 16px;
  z-index: 100;
}

.dropdownIcon:hover {
  background-color: #d2e3ff;
  border-radius: 100%;
}

.customDropdownBox {
  display: none;
  flex-direction: column;
  gap: 2px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  margin-top: -8px;
}

.assignedItemWrap {
  position: relative;
  display: flex;
  align-items: center;
}

.checkboxAssigned {
  appearance: none;
  background-image: url(/img/Mobile/AddTask/ceckboxOpenAddTask.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 18px;
}

.checkboxAssigned:checked {
  background-image: url(/img/Mobile/AddTask/checkboxDoneAddTask.png);
}

.checkboxAssigned:checked + .dropdownItemAssigned {
  background-color: #2a3647 !important;
  color: #ffffff;
}

.dropdownItemAssigned {
  width: 100%;
  border-radius: 10px;
  padding: 7px 16px;
  cursor: pointer;
}

.profileIconAssigned {
  min-height: 42px;
  min-width: 42px;
  border-radius: 100%;
  border: 2px solid #ffffff;
  background-color: #ff8190;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
}

.profileNameContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.addTaskLabel input[type="date"] {
  background-image: url(/img/Mobile/AddTask/calendarIcon.png);
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.addTaskLabel input[type="date"]::-webkit-calendar-picker-indicator{
  opacity: 0;
  cursor: pointer;
}