.addContactBtn {
  height: 56px;
  width: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 12px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 112px;
  right: 16px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.addContactContainer {
  border-radius: 30px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  height: calc(100vh - 160px);
  overflow: auto;
  margin: 0 16px;
  scrollbar-width: none;
}

.addContainerTopContainer {
  padding: 124px 16px;
  display: flex;
  gap: 12px;
  background-color: #2a3647;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.contactHeadline {
  color: #ffffff;
  font-size: 47px;
  font-weight: 700;
}

.contactText {
  color: #ffffff;
  font-size: 20px;
}

.createContactBtn {
  height: 51px;
  padding: 18px 10px;
  gap: 4px;
  font-weight: 700;
  font-size: 21px;
  border-radius: 10px;
  width: 202px;
  margin-top: 17px;
}

.addContactContainerBottom {
  padding: 0 16px;
  padding-bottom: 80px;
  background-color: #ffffff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.addContactContainerBottom form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.closeBtn:active {
  background-color: #29abe2;
  border-radius: 100%;
}

.contactLabel {
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 21px;
  gap: 10px;
  height: 41px;
  cursor: pointer;
}

.contactLabel input {
  border: none;
  background-color: transparent;
  font-size: 20px;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.contactLabel input::placeholder {
  color: #d1d1d1;
}

.contactProfileIcon {
  height: 120px;
  width: 120px;
  border-radius: 100%;
  border: 3px solid #ffffff;
  background-color: #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 17px;
  margin-top: -60px;
}

.headlineUnderline {
  width: 90px;
  height: 3px;
  background-color: #29abe2;
  border-radius: 45px;
  margin-bottom: 3px;
}

.contactAlphabet {
  font-size: 20px;
  color: #000000;
  padding: 17px 36px;
}

.contactSeperator {  
  border-top: 1px solid #d1d1d1;
}

.contactsListContainer {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
}

.contactProfileContainer {
  display: flex;
  border-radius: 10px;
  padding: 15px 24px;
  gap: 35px;
  align-items: center;
  cursor: pointer;
}

.contactProfileContainer:hover{
  background: linear-gradient(0deg, rgba(249,249,249,1) 100%, rgba(240,240,240,1) 100%);
}

.contactProfileContainer:active {
  background: #2a3647 !important;
  color: #ffffff;
}

.profileIcon {
  min-height: 42px;
  min-width: 42px;
  border-radius: 100%;
  background-color: orange;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  font-size: 12px;
}

.contactNameEmailContaciner {
 display: flex;
  flex-direction: column;
  gap: 5px;  
}

body{
  overflow: hidden;
}

.contactName {
  font-size: 20px;
}

.contactEmail {
  font-size: 16px;
  color: #007cee;
  padding: 2px 0;
}

.contactsListContainer{
  height: calc(100vh - 160px);
  overflow: auto;
  scrollbar-width: none;
}

span {
  display: inline-block;
}