* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
}

.profileIcon {
  width: 40px;
  height: 40px;
  border: 2px solid #2a3647;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.profileIcon span {
  color: #29abe2;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  padding: 0 16px;
  background-color: #2a3647;
  color: #cdcdcd;
  position: fixed;
  bottom: 0;
}
